<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net452" />
  <package id="EventSource.Framework" version="0.1.7" targetFramework="net452" />
  <package id="RavenDB.Client" version="3.5.3" targetFramework="net452" />
  <package id="StructureMap" version="4.5.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
  <package id="SystemNotifications" version="0.1.4" targetFramework="net452" />
</packages>